
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
}

header {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}

main {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

input[type="email"],
input[type="password"],
button[type="submit"] {
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #2c2c2c;
    color: #fff;
}

button[type="submit"] {
    background-color: #66A80F;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4c8037;
}

p {
    margin-top: 0.5rem;
}

a {
    color: #66A80F;
    cursor: pointer;
}

#error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #66A80F;
    outline: none;
    box-shadow: 0 0 8px rgba(102, 168, 15, 0.6);
}
