body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-size: 2rem;
    padding: 0 1rem;
}

main {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#user-info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

#logout-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    background-color: #66A80F;
    color: #fff;
    cursor: pointer;
}

#logout-button:hover {
    background-color: #4c8037;
}

#challenge-list {
    list-style: none;
    padding: 0;
}

#challenge-list li {
    padding: 0.5rem;
    background-color: #2e2e2e;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#challenge-list li span {
    font-size: 1rem;
}

#challenge-list li input[type="checkbox"] {
    margin-left: 1rem;
}
